# Enable auto-detection of line endings
* text=auto

# Specific file type handling
*.sh eol=lf
*.py eol=lf linguist-language=Python
*.ipynb eol=lf linguist-detectable=false  # Reduce Jupyter Notebooks' impact on language detection
*.csv binary
*.cs linguist-language=C#
*.cpp linguist-language=C++
*.java linguist-language=Java
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.json linguist-language=JSON
*.xml linguist-language=XML

# Treat Jupyter Notebooks as less significant for language detection
